* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #0085FF;
}
  
::-webkit-scrollbar {
    width: 10px;
    background-color: #000E20;
    display: none;
}
  
::-webkit-scrollbar-thumb {
    background-color: #0085FF;
    border-radius: 100px;
}

body {
    background-color: #000E20;
    width: fit-content;
}

/* ======================================== Navigation Bar ======================================== */

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 35px 0;
    top: 0;
    z-index: 999;
    transition: 0.2s linear;
    border-radius: 100px;
}
.navbar-sticky {
    background-color: #0055FF;;
    opacity: 0.8;
    margin: 15px 0;
    padding: 25px 0;
}
.navbar-width {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-name {
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-name:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-name:hover{
    color: #000E20;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 600px;
}
.navbar-menu > #navbar-home {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-home:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-home:hover {
    color: #000E20;
}
.navbar-menu > #navbar-skills {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-skills:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-skills:hover {
    color: #000E20;
}
.navbar-menu > #navbar-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-projects:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-projects:hover {
    color: #000E20;
}
.navbar-menu > #navbar-contact {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-contact:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-contact:hover {
    color: #000E20;
}

/* ======================================== HOME ======================================== */

#Home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}
#Home > .home-left_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    z-index: -1;
}
#Home > .home-left_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    z-index: -1;
}

@media screen and (min-height: 945px) {
    #Home > .home-left_thin_bubble {
        height: 100vh;
    }
    #Home > .home-left_wide_bubble {
        height: 100vh;
    }
}

@media screen and (min-width:901px) and (max-width: 1369px) {
    #Home > .home-left_wide_bubble{
        opacity: 0;
    }
}

#Home > .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
#Home > .home-main > .home-main-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 370px;
    background-color: #001F4B;
    border-radius: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-hello {
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-top: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-johan {
    font-weight: 700;
    font-size: 70px;
    color: #0085FF;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons {
    display: flex;
    flex: row;
    justify-content:space-evenly;
    width: 400px;
    margin-top: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-hireme {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 10px;
    transition: 0.3s;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-hireme:hover {
    color: #0085FF;
    background-color: #000E20;
    border: 2px solid #0085FF;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-knowmore {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 10px;
    transition: 0.3s;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-knowmore:hover {
    color: #0085FF;
    background-color: #000E20;
    border: 2px solid #0085FF;
}
#Home > .home-main > .home-main-rectangle > .home-main-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 700px;
    margin-top: 100px;
}
#Home > .home-right_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    transform: scaleX(-1);
    z-index: -1;
}
#Home > .home-right_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    transform: scaleX(-1);
    z-index: -1;
}
@media screen and (min-height: 945px) {
    #Home > .home-right_wide_bubble {
        height: 100vh;
    }
    #Home > .home-right_thin_bubble {
        height: 100vh;
    }
}
@media screen and (min-width:901px) and (max-width: 1369px) {
    #Home > .home-right_wide_bubble{
        opacity: 0;
    }
}

/* ======================================== SKILLS ======================================== */

#Skills {
    background-color: #001F4B; 
    margin-top: 10px; 
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#Skills > .skills-left {
    display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
}
#Skills > .skills-left > #skills-left-title {
    color: #000E20;
    font-weight: 700;
    font-size: 150px;
    margin-top: -62px;
    margin-right: 15px;
}
#Skills > .skills-left > .skills-left-desktop {
    margin-top: 0px;
    width: 400x;
}
#Skills > .skills-left > .skills-left-text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #000E20;
    padding: 25px 25px;
    margin-top: 25px;
    width: 500px;
    text-align: center;
    border-radius: 100px;
}
#Skills > .skills-right {
    display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
    justify-content: space-around;
}
#Skills > .skills-right > .skills-right-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #000E20;
    color: white;
    padding: 50px 50px;
    width: 500px;
    height: 400px;
    border-radius: 100px;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-topic {
    font-weight: 400;
    font-size: 22px;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-appdevline {
    width: 350px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-webdevline {
    width: 230px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-desline {
    width: 300px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-uiuxline {
    width: 400px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes skills-right-bars-lines {
    0% {background-color: #001F4B;}
    50% {background-color: #0085FF;}
    100% {background-color: #001F4B;}
}

/* ======================================== PROJECTS ======================================== */

#Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Projects > .projects-left_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    height: 930px;
}
#Projects > .projects-left_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
}
#Projects > .projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 930px;
}
#Projects > .projects-main > .projects-main-title{
    width: 700px;
    text-align: center;
    color: #001F4B;
    font-weight: 700;
    font-size: 136px;
    margin-top: -62px;
}
#Projects > .projects-main > .projects-main-logoairnow {
    width: 600px;
    text-align: center;
    margin-top: 30px;
}
#Projects > .projects-main > .projects-main-textairnow {
    width: 600px;
    text-align: center;
    font-size: 40px;
    color: #0055FF;
}
#Projects > .projects-main > #projects-main-learnmore {
    color: #0085FF;
    background-color: #000E20;
    padding: 10px 10px;
    margin-top: 30px;
    border: 2px solid #0085FF;
    border-radius: 100px;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}
#Projects > .projects-main > #projects-main-learnmore:hover {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
}

#Projects > .projects-right_wide_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scaleX(-1);
    height: 930px;
}
#Projects > .projects-right_thin_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: scaleX(-1);
    height: 930px;
}

/* ======================================== REVIEWS ======================================== */

#Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001F4B;
    height: 750px;
    border-radius: 50px;
    margin-top: -90px;
}
#Reviews > .reviews-title {
    margin-top: 200px;
    color: #000E20;
    font-weight: 700;
    font-size: 150px;
}
#Reviews > .reviews-note {
    color: #000E20;
    font-weight: 700;
    font-size: 50px;
}

/* ======================================== CONTACT ======================================== */

#Contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Contact > .contact-left_thin_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
}
#Contact > .contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 930px
}
#Contact > .contact-main > .contact-main-title {
    text-align: center;
    color: #001F4B;
    font-weight: 700;
    font-size: 136px;
    margin-top: -62px;
}
#Contact > .contact-main > .contact-main-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form > #contact-main-information-form-name {
    background-color: #000E20;
    border: 2px solid #0085FF;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    caret-color: #0085FF;
    width: 300px;
    outline: none;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form > #contact-main-information-form-email {
    background-color: #000E20;
    border: 2px solid #0085FF;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    caret-color: #0085FF;
    width: 300px;
    outline: none;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form > #contact-main-information-form-message {
    background-color: #000E20;
    border: 2px solid #0085FF;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    caret-color: #0085FF;
    width: 300px;
    height: 90px;
    resize: none;
    outline: none;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form > #contact-main-information-form-button {
    background-color: #0085FF;
    border: 2px solid #0085FF;
    color: #000E20;
    font-weight: 600;
    border-radius: 100px;
    padding: 10px 10px;
    width: 150px;
    transition: 0.3s;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-form > #contact-main-information-form-button:hover {
    background-color: #000E20;
    color: #0085FF;
    cursor: pointer;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-line {
    background-color: #0085FF;
    width: 9px;
    height: 400px;
    margin: 0 60px;
    border-radius: 100px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-phone > .contact-main-information-details-phone-label {
    color: #0085FF;
    font-weight: 600;
    font-size: 22px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-phone > .contact-main-information-details-phone-value {
    color: white;
    font-weight: 400;
    font-size: 22px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-email > .contact-main-information-details-email-label {
    color: #0085FF;
    font-weight: 600;
    font-size: 22px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-email > .contact-main-information-details-email-value {
    color: white;
    font-weight: 400;
    font-size: 22px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-address > .contact-main-information-details-address-label {
    color: #0085FF;
    font-weight: 600;
    font-size: 22px;
}
#Contact > .contact-main > .contact-main-information > .contact-main-information-details > .contact-main-information-details-address > .contact-main-information-details-address-value {
    color: white;
    font-weight: 400;
    font-size: 22px;
}
#Contact > .contact-right_thin_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scaleX(-1);
    height: 930px;
}

/* ======================================== FOOTER ======================================== */

#Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001F4B;
    border-radius: 50px 50px 0 0;
    margin-top: -90px;
}
#Footer > .footer-name {
    color: white;
    transition: 0.3s;
    margin: 20px 0;
}
#Footer > .footer-name:hover {
    color: #0085FF;
}
#Footer > .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 10px 0;
}
#Footer > .footer-menu > #footer-home {
    color: white;
    transition: 0.3s;
}
#Footer > .footer-menu > #footer-home:hover {
    color: #0085FF;
}
#Footer > .footer-menu > #footer-skills {
    color: white;
    transition: 0.3s;
}
#Footer > .footer-menu > #footer-skills:hover {
    color: #0085FF;
}
#Footer > .footer-menu > #footer-projects {
    color: white;
    transition: 0.3s;
}
#Footer > .footer-menu > #footer-projects:hover {
    color: #0085FF;
}
#Footer > .footer-menu > #footer-contact {
    color: white;
    transition: 0.3s;
}
#Footer > .footer-menu > #footer-contact:hover {
    color: #0085FF;
}
#Footer > .footer-credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 20px 0;
}
#Footer > .footer-credits > .footer-credits-designed {
    color: white;
}
#Footer > .footer-credits > .footer-credits-vectors {
    color: #808080;
}