* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #0085FF;
}
  
::-webkit-scrollbar {
    width: 10px;
    background-color: #000E20;
}
  
::-webkit-scrollbar-thumb {
    background-color: #0085FF;
    border-radius: 100px;
}

body {
    background-color: #000E20;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 35px 0;
    top: 0;
    z-index: 999;
    transition: 0.2s linear;
    border-radius: 100px;
    /* border: 1px solid red; */
}
.navbar-sticky {
    background-color: #0055FF;;
    opacity: 0.8;
    margin: 15px 0;
    padding: 25px 0;
}
.navbar-width {
    width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid pink; */
}
.navbar-name {
    font-size: 20px;
    color: white;
    transition: 0.3s;
    /* border: 1px solid blue */
}
.navbar-name:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-name:hover{
    color: #000E20;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 600px;
    /* border: 1px solid green; */
}
.navbar-menu > #navbar-home {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-home:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-home:hover {
    color: #000E20;
}
.navbar-menu > #navbar-skills {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-skills:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-skills:hover {
    color: #000E20;
}
.navbar-menu > #navbar-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-projects:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-projects:hover {
    color: #000E20;
}
.navbar-menu > #navbar-contact {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
.navbar-menu > #navbar-contact:hover {
    color: #0085FF;
}
.navbar-sticky .navbar-menu > #navbar-contact:hover {
    color: #000E20;
}

#Home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Home > .home-left_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    z-index: -1;
}
#Home > .home-left_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    z-index: -1;
}
#Home > .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 930px;
}
#Home > .home-main > .home-main-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 700px;
    height: 370px;
    background-color: #001F4B;
    border-radius: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-hello {
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-top: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-johan {
    font-weight: 700;
    font-size: 70px;
    color: #0085FF;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons {
    display: flex;
    flex: row;
    justify-content:space-evenly;
    width: 400px;
    margin-top: 100px;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-hireme {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 10px;
    transition: 0.3s;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-hireme:hover {
    color: #0085FF;
    background-color: #000E20;
    border: 2px solid #0085FF;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-knowmore {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 10px;
    transition: 0.3s;
}
#Home > .home-main > .home-main-rectangle > #home-main-rectangle-buttons > #home-main-rectangle-buttons-knowmore:hover {
    color: #0085FF;
    background-color: #000E20;
    border: 2px solid #0085FF;
}
#Home > .home-main > .home-main-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 700px;
    margin-top: 200px;
    /* border: 1px solid red; */
}
#Home > .home-right_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    transform: scaleX(-1);
    z-index: -1;
}
#Home > .home-right_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
    transform: scaleX(-1);
    z-index: -1;
}

#Skills {
    background-color: #001F4B; 
    margin-top: -90px; 
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: space-between; */
}
#Skills > .skills-left {
    display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
    /* border: 1px solid red; */
}
#Skills > .skills-left > #skills-left-title {
    color: #000E20;
    font-weight: 700;
    font-size: 150px;
    margin-top: -62px;
    margin-right: 15px;
    /* border: 1px solid red; */
}
#Skills > .skills-left > .skills-left-desktop {
    margin-top: 0px;
    width: 400x;
    /* border: 1px solid red; */
}
#Skills > .skills-left > .skills-left-text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #000E20;
    padding: 25px 25px;
    /* border: 1px solid red; */
    margin-top: 25px;
    width: 500px;
    text-align: center;
    border-radius: 100px;
}
#Skills > .skills-right {
    display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    
}
#Skills > .skills-right > .skills-right-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #000E20;
    color: white;
    padding: 50px 50px;
    width: 500px;
    height: 400px;
    border-radius: 100px;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-topic {
    font-weight: 400;
    font-size: 22px;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-appdevline {
    /* background-color: #0085FF; */
    width: 350px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-webdevline {
    /* background-color: #0085FF; */
    width: 230px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-desline {
    /* background-color: #0085FF; */
    width: 300px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
#Skills > .skills-right > .skills-right-bars > .skills-right-bars-uiuxline {
    /* background-color: #0085FF; */
    width: 400px;
    height: 20px;
    border-radius: 100px;
    animation-name: skills-right-bars-lines;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes skills-right-bars-lines {
    0% {background-color: #001F4B;}
    50% {background-color: #0085FF;}
    100% {background-color: #001F4B;}
}

#Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Projects > .projects-left_thin_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    height: 930px;
}
#Projects > .projects-left_wide_bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 930px;
}
#Projects > .projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 930px;
}
#Projects > .projects-main > .projects-main-title{
    width: 700px;
    text-align: center;
    color: #001F4B;
    font-weight: 700;
    font-size: 136px;
    margin-top: -62px;
    /* border: 1px solid red; */
}
#Projects > .projects-main > .projects-main-logoairnow {
    width: 600px;
    text-align: center;
    margin-top: 30px;
    /* border: 1px solid red; */
}
#Projects > .projects-main > .projects-main-textairnow {
    width: 600px;
    text-align: center;
    font-size: 40px;
    color: #0055FF;
    /* border: 1px solid red; */
}
#Projects > .projects-main > #projects-main-learnmore {
    color: #0085FF;
    background-color: #000E20;
    padding: 10px 10px;
    margin-top: 30px;
    border: 2px solid #0085FF;
    border-radius: 100px;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}
#Projects > .projects-main > #projects-main-learnmore:hover {
    color: #000E20;
    background-color: #0085FF;
    border: 2px solid #000E20;
}

#Projects > .projects-right_wide_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scaleX(-1);
    height: 930px;
}
#Projects > .projects-right_thin_bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: scaleX(-1);
    height: 930px;
}

#Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001F4B;
    height: 750px;
    border-radius: 50px;
    margin-top: -90px;
}
#Reviews > .reviews-title {
    margin-top: 200px;
    color: #000E20;
    font-weight: 700;
    font-size: 150px;
}
#Reviews > .reviews-note {
    color: #000E20;
    font-weight: 700;
    font-size: 50px;
}

#Contact {
    display: flex;
    flex-direction: row;
}

